:root {
	--background: #333;
	--primary: #fff;
	--primary-text: var(--background);
	--record: #d33;
	--focus: #29f;
	--border-width: .3rem;
}

html, body, button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
	Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.icon {
	width: 1em;
	height: 1em;
}
.main {
	width: 100%;
	display: flex;
	flex: 1;
}
.preview-wrapper {
	flex: 1;
	overflow: hidden;
	object-fit: cover;
	position: relative;
}
.preview {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.photo {
	--border-offset: -.6rem;
	--border: var(--border-width) solid #fff;
	display: block;
	background: #fff;
	border-radius: 20rem;
	border: 0;
	width: 3rem;
	height: 3rem;
	font-weight: bold;
	font-size: 2rem;
	padding: 0;
	position: relative;
}
.photo::before{
	content: "";
	position: absolute;
	left: var(--border-offset);
	right: var(--border-offset);
	top: var(--border-offset);
	bottom: var(--border-offset);
	border: var(--border);
	border-radius: inherit;
}
.photo:focus-visible {
	outline: none;
}

.photo:focus-visible::before {
	border-color: var(--focus)
}

.next-camera svg {
	fill: currentColor;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.next-camera {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-text);
	background: var(--primary);
	border-radius: 20rem;
	border: 0;
	width: 3rem;
	height: 3rem;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1;
	padding: 0;
	margin: 0.5rem;
	position: relative;
}
.next-camera:focus-visible {
	outline: none;
	box-shadow: 0 0 0 var(--border-width) var(--focus);
}

#latest-image-wrapper {
	width: 4rem;
	height: 4rem;
	border-radius: 0.5rem;
	overflow: hidden;
}
#latest-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (orientation: landscape) {
	.actions {
		right: 0;
		top: 0;
		bottom: 0;
		left: unset;
		flex-direction: column-reverse;
	}
}